@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,body{margin:0;padding:0;background-color: balck;font-family:'Roboto', sans-serif;}
#app{display:flex;background:black;overflow: hidden;height: 100vh;}
/* 공통 */
.row-center{display: flex;justify-content: center;}
/* leftbar */
.main{width:100%;height: 100%;}
.leftbar{display:flex;width:110px;}